@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.btn-success-custom {
  background-color: #7fc682;
  border-color: #7fc682;
  color: #fff;
  font-weight: 700 !important;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-success-custom:hover {
  background-color: #66bb6a;
  color: #fff;
}

.btn-danger-custom {
  background-color: #ed524f;
  border-color: #ed524f;
  color: #fff;
  font-weight: 700 !important;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-danger-custom:hover {
  background-color: #e14e4b;
  color: #fff;
}

.btn-primary-custom {
  background-color: #64b5f6;
  border-color: #64b5f6;
  color: #fff;
  font-weight: 700 !important;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary-custom:hover {
  background-color: #42a5f5;
  color: #fff;
}

.btn-secondary-custom {
  background-color: #aaafb5;
  border-color: #aaafb5;
  color: #fff;
  font-weight: 700 !important;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-secondary-custom:hover {
  background-color: #9fa4aa;
  color: #fff;
}